WAHA_API_KEY=change-this-waha-api-key
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=change-this-waha-dashboard-password

POSTGRES_USER=admin
POSTGRES_PASSWORD=secret_password
POSTGRES_DB=project_db

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
