VITE_TOOLS_API_URL=http://127.0.0.1:8765
VITE_OPEN_WEBUI_URL=http://localhost:3000
VITE_N8N_URL=http://localhost:5678
VITE_BROWSER_USE_URL=http://localhost:7788
VITE_GRAFANA_URL=http://127.0.0.1:3002
VITE_WAHA_URL=http://127.0.0.1:3001
VITE_MINIO_CONSOLE_URL=http://localhost:9001
VITE_ADMINER_URL=http://127.0.0.1:8088
